@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:wght@300;500&family=Poppins:wght@100;300&display=swap');

/*Configurações Gerais*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Fugaz One', cursive;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    min-width: 200px;
    max-width: 1400px;

}


.container {
    height: 100vh;
    width: 100%;
}

/*Header*/

.header {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    box-shadow: 0px 1px 2px #000000;
}


.nav-bar {
    display: flex;
    gap: 50px;
}

.logo {
    width: 10%;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #ffb300;
}

.button-menu {
    background-color: #000;
    color: #f4f4f4;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #c0c0c0;
}

.button-menu:hover {
    color: #D49B17;
    background-color: #fff;
    border: 1px solid #c0c0c0;
}

/*INICIO*/

.inicio {
    background-image: url("../images/inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}




.inicio-area {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text {
    font-size: 3.5em;
    font-family:'Fugaz One', cursive;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
}

.button-area {
    margin-top: 50px;
}

.inicio-button {
    background-color: #fff;
    color: #000;
    padding: 20px 30px;
    font-size: 1.2em;
    border-radius: 5px;
}

.inicio-button:hover {
    color: #D49B17;
}

/*SOBRE*/

.sobre {
    background-color: #fff;
    width: 100%;
    padding: 30px 60px;
}

.title-sobre {
    font-size: 2em;
    margin-bottom: 20px;
}

.conteudo-sobre {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    background-color: rgba(6, 6, 6, 0.9);
    padding: 30px 60px;
}

.text-sobre-area h1 {
    margin-bottom: 1em;
}

.text-sobre {
    color: #fff;
    text-align: center;
}

.img-sobre {
    cursor: pointer;
}

.img-area {
    width: 90%;
    padding: 10px;
    background-color: #fff;
    display: flex;
}

/*GALERIA*/

.galeria {
    width: 100%;
    padding: 20px 60px;
    background-color: #000000;
}

.galeria-area {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 30px;
    justify-content: center;
}

.title-galeria {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

.galeria-area img {
    background-color: #ffffff;
    padding: 5px;
}

/*TESTEMUNHOS*/

.testemunhos {
    padding: 20px 60px;
}

.title-testemunhos {
    font-size: 2em;
    margin-bottom: 20px;
}

.testemunhos-area {
    display: flex;
    align-items: center;
    gap: 40px;
}

.testemunho {
    padding: 10px;
}

.avaliação {
    margin: 10px 0;
    color: rgb(251,188,4);
}

.box-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.testemunhos-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #c0c0c0;
}

.testemunhos-button:hover {
    color: #D49B17;
    background-color: #fff;
    border: 1px solid #c0c0c0;
}

/*CONTACT*/

.contato {
    padding: 20px 60px;
    background-color: #000;
    color: #fff;
}

.title-contato {
    font-size: 2em;
    margin-bottom: 20px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #c0c0c0;
}

.button:hover {
    background-color: #fff;
    color: #D49B17;
    border: 1px solid #c0c0c0;
}

.buttons-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.box-localização {
    width: 40%;
}

.localização {
    width: 100%;
    height: 18em;
}

.lista-funcionamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.funcionamento-box h3 {
    text-align: center;
}

.social-media {
    text-align: center;
}

.social {
    color: #fff;
    font-size: 2em;
}

.social:hover {
    color: #D49B17;
}

/*RODAPÉ*/

.rodapé {
    background-color: #f4f4f4;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;

}

/*MOBILE*/

.box-toggle {
    border: none;
    cursor: pointer;
    display: none;
}

.button-toggle {
    border: none;
    cursor: pointer;
    background-color: transparent;
}





